<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnterprisePoliciesEnabled</key>
	<true/>
	<key>DisableFirefoxStudies</key>
	<true/>
	<key>DisableMasterPasswordCreation</key>
	<true/>
	<key>Extensions</key>
	<dict>
		<key>Install</key>
		<array>
			<string>https://addons.mozilla.org/firefox/downloads/latest/ublock-origin/latest.xpi</string>
            <string>https://addons.mozilla.org/firefox/downloads/latest/tampermonkey/latest.xpi</string>
            <string>https://addons.mozilla.org/firefox/downloads/latest/istilldontcareaboutcookies/latest.xpi</string>
			<string>https://addons.mozilla.org/firefox/downloads/latest/addy_io/latest.xpi</string>
            <string>https://addons.mozilla.org/firefox/downloads/file/4170561/bitwarden_password_manager-2023.9.1.xpi</string>
            <string>https://addons.mozilla.org/firefox/downloads/file/3739730/what_hacker_news_says-0.2.0.xpi</string>
            <string>https://addons.mozilla.org/firefox/downloads/file/4044991/refined_hacker_news-22.12.17.xpi</string>
            <string>https://addons.mozilla.org/firefox/downloads/file/4137983/vimium_ff-1.67.7.xpi</string>
            <string>https://addons.mozilla.org/firefox/downloads/file/4157491/enhancer_for_youtube-2.0.121.xpi</string>
			<string>https://addons.mozilla.org/firefox/downloads/file/4139299/view_page_archive-4.1.0.xpi</string>
			<string>https://addons.mozilla.org/firefox/downloads/file/4132819/search_by_image-5.7.0.xpi</string>
		</array>
	</dict>
	<key>ExtensionSettings</key>
	<dict>
		<key>{446900e4-71c2-419f-a6a7-df9c091e268b}</key>
		<dict>
			<key>default_area</key>
			<string>navbar</string>
		</dict>
		<key>browser-extension@anonaddy</key>
		<dict>
			<key>default_area</key>
			<string>navbar</string>
		</dict>
		<key>{2e5ff8c8-32fe-46d0-9fc8-6b8986621f3c}</key>
		<dict>
			<key>default_area</key>
			<string>navbar</string>
		</dict>
		<key>{d07ccf11-c0cd-4938-a265-2a4d6ad01189}</key>
		<dict>
			<key>default_area</key>
			<string>navbar</string>
		</dict>
		<key>{6aeddb34-a2e1-4892-9918-564ba5e9313e}</key>
		<dict>
			<key>default_area</key>
			<string>navbar</string>
		</dict>
		<key>uBlock0@raymondhill.net</key>
		<dict>
			<key>default_area</key>
			<string>navbar</string>
		</dict>
	</dict>
	<key>UserMessaging</key>
	<dict>
		<key>WhatsNew</key>
		<false/>
		<key>ExtensionRecommendations</key>
		<false/>
		<key>FeatureRecommendations</key>
		<false/>
		<key>UrlbarInterventions</key>
		<false/>
		<key>SkipOnboarding</key>
		<true/>
		<key>MoreFromMozilla</key>
		<false/>
		<key>Locked</key>
		<false/>
	</dict>
</dict>
</plist>